header {
	text-align: center;
	color: white;
	font-size: 1.5em;
	font-family: arial;
	top: 0;
	width: 100%;
}

body {
	text-align: center;
	color: black;
	font-size: 1.5em;
	font-family: arial;
	background: silver;
}


h1 {
	font-family: Aldrich;
	font-size: 2.2em;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 1.1em;
	color: white;
}

h2 {
	font-family: Aldrich;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 0.5em;
	color: white;
}

h3 {
	font-family: Aldrich;
	font-size: 1.8em;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 0.9em;
	color: black;
}

.navbar {
	overflow: visible;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
	text-align:center;
}

.navbar a {
	display: inline;
	color: #f2f2f2;
	text-align: center;
	padding: 0px 15px;
	text-decoration: none;
	font-size: 1em;
	font-family: arial;
}

.navbar a:hover {
	background: #ddd;
	color: black;
}


.checked {
	color: blue;
}

#main {
    margin-top: 100px; 
}

#brief {
	background-color: white;
	text-align: center;
	color: black;
	font-size: 1em;
	font-family: arial;
	padding: 15px 15px;
}

#experience {
	background-color: white;
	text-align: center;
	color: black;
	font-size: 1em;
	font-family: arial;
	padding: 15px 15px;
}

#locations {
	background-color: white;
	text-align: center;
	color: black;
	font-size: 1em;
	font-family: arial;
	padding: 15px 15px;
}

#study {
	background-color: white;
	text-align: center;
	color: black;
	font-size: 1em;
	font-family: arial;
	padding: 15px 15px;
}

#skills {
	background-color: white;
	text-align: center;
	color: black;
	font-size: 1em;
	font-family: arial;
	padding: 15px 15px;
}

#contact {
	background-color: white;
	text-align: center;
	color: black;
	font-size: 1em;
	font-family: arial;
	padding: 15px 15px;
}